header {
    color:rgb(45, 32, 17);
    display: flex;
    justify-content: center;
}

.log-container {
    border: solid #AA2B1D;
    border-radius: 10px;
    border-width: 5px;
    width: 500px;
    margin: 5px;
    padding: 5px;
    background-color: #EF8D32;
}

.input-fields {
    border: solid #AA2B1D;
    border-radius: 10px;
    border-width: 5px;
    margin: 5px;
    background-color: #EF8D32;
    padding: 5px;
}

.page {
    display: inline;
    font-family: "Garamond";
    background-color:rgb(255, 237, 213);
    border-color: #AA2B1D;
    padding: 5px;
    color: rgb(68, 53, 35);
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
}

.log-label {
    background-color: #AA2B1D;
    color: rgb(255, 237, 213);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.log-contents {
    background-color: rgb(255, 237, 213);
    border: 2px solid #CC561E;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: rgb(68, 53, 35);
    font-family: bradley hand, cursive;
}

.hunger-box {
    margin-right: 10px;
}

body {
    background-image: url('https://img.freepik.com/premium-vector/hippos-seamless-pattern-vector-illustration-flat-style_505557-3289.jpg');
}

.layer {
    background-color: rgba(168, 180, 92, 0.500);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

#delete-button, .cancel-button {
    font-family: "Garamond";
    color: rgb(255, 237, 213);
    background-color: #AA2B1D;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#edit-button {
    color: rgb(255, 237, 213);
    background-color: #CC561E;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: "Garamond";
}

.submit-button, #search-button {
    color:rgb(45, 32, 17);
    background-color: #a9b45c;
    border-radius: 5px;
    font-family: "Garamond";
}

nav {
    background-color: #a9b45c;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hippo-img {
    margin: 25px;
    height: 500px;
    width: auto;
    position: relative;
}

#index-divs {
    display: flex;
    flex-direction: row;
}

.idea-bubble {
    background-color: #EF8D32;
    border: solid 10px;
    border-radius: 10px;
    font-size: 25px;
    border-color: #AA2B1D;
    color:rgb(45, 32, 17);
    height: 125px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 10px #a9b45c;
    margin: 10px;
}

h1 {
    background-color: #CC561E;
    border: solid rgba(168, 180, 92, 0.500);
    border-width: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.hunger-scale-img-div {
    display: flex;
    justify-content: center;
}

#hunger-scale-img {
    width: 90%;
    height: auto;
}

.item-container {
    border: solid #AA2B1D;
    border-radius: 10px;
    border-width: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #EF8D32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}